* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

ul {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(rgb(150, 150, 150),rgb(250, 250, 250));
  font-weight: bold;
  height: 15%;
  padding: 3%;
  text-height: 20px;
}

p {
  padding: 10px 5px;
}

a {
  padding: 10px 5px;
  width: 100%;
  clear: left;
}

.art {
  background: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj4kYOakrzUAhUCST4KHecxCGMQjRwIBw&url=http%3A%2F%2Fmagic.wizards.com%2Fen%2Farticles%2Farchive%2Ffeature%2Fand-land-played-2010-01-18&psig=AFQjCNFpN9f2uJ4lxgQ-14kyijBqV3_5Qw&ust=1497488466519260) no-repeat center;
  background-size: cover;
}
