* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

ul {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(rgb(150, 150, 150),rgb(250, 250, 250));
  font-weight: bold;
  height: 15%;
  padding: 3%;
  text-height: 20px;
}

p {
  padding: 10px 5px;
}

a {
  padding: 10px 5px;
  width: 100%;
  clear: left;
}

.art {
  background: url(http://magic.wizards.com/sites/mtg/files/image_legacy_migration/images/magic/daily/stf/stf135_glimmer.jpg) no-repeat center;
  background-size: cover;
}
